In [0]:
#Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import numpy as np
import pandas as pd
import os
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# to make this notebook's output stable across runs
np.random.seed(42)

# Where to save the figures
PROJECT_ROOT_DIR = "."
CHAPTER_ID = "decision_trees"
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)

os.makedirs(IMAGES_PATH, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

In [0]:
statesData = pd.read_csv('https://raw.githubusercontent.com/Rodrig79/Machine-Learning-Data-Analysis-Project/master/processedData/US_State_Cases_Processed.csv', sep='\t', engine='python')

In [0]:
statesData.head()

  date,state,fips,cases,deaths,cases_per_capita,deaths_per_capita,state_population,,
0  1/21/20,Washington,53,1,0, 0.01 , -   ," 7,614...
1  1/22/20,Washington,53,1,0, 0.01 , -   ," 7,614...
2  1/23/20,Washington,53,1,0, 0.01 , -   ," 7,614...
3  1/24/20,Illinois,17,1,0, 0.01 , -   ," 12,671,...
4  1/24/20,Washington,53,1,0, 0.01 , -   ," 7,614...